{% load staticfiles %}
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
<meta charset="utf-8"/>
<title>{{Food.short_desc}}</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1.0" name="viewport"/>
<meta http-equiv="Content-type" content="text/html; charset=utf-8">
<meta content="" name="description"/>
<meta content="" name="author"/>
<link type="text/css" rel="stylesheet" href="{% static 'show_food.css' %}"/>
</head>
<body>
<a href="../../food/"><button>Back to food database</button></a>
<h2>{{Food.short_desc}}</h2>
<p>Food Group: {{Food.food_group.name}}</p>
<p><span class="name">Carbohydrate Factor</span>: {{Food.carb_factor|default_if_none:"--"}}   <span class="name">Fat Factor</span>:{{Food.fat_factor|default_if_none:"--"}}   <span class="name">Protein Factor</span>: {{Food.protein_factor|default_if_none:"--"}}   <span class="name">Nitrogen to Protein Conversion Factor</span>: {{Food.nitrogen_factor|default_if_none:"--"}}</p>
<table id="food_table" cellspacing="1" width="100%">
	<thead>
		<tr bgcolor="#eeeeee">
			<th>Nutrient</th>
			<th>Unit</th>
			<th>Value (100g)</th>
			<th>Data Points</th>
			<th>Std. Error</th>
			<th>Min</th>
			<th>Max</th>
			<th>df</th>
			<th>LB</th>
			<th>UB</th>
			<th># Studies</th>
			<th>Source</th>
			<th>Last Modified</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td class="lower_header" colspan="13">Proximates</td>
		</tr>
		{% for proximate in proximates %}
			{% if forloop.counter|divisibleby:2 %}<tr class="even_row">{% else %}<tr class="odd_row">{% endif %}
				<td>{{proximate.nutrient.name}}</td>
				<td>{{proximate.nutrient.units}}</td>
				<td>{{proximate.amount|floatformat:-2 }}</td>
				<td>{{proximate.num_data_points}}</td>
				<td>{{proximate.std_error|floatformat:-3|default_if_none:"--"}}</td>
				<td>{{proximate.min_value|floatformat:-3|default_if_none:"--"}}</td>
				<td>{{proximate.max_value|floatformat:-3|default_if_none:"--"}}</td>
				<td>{{proximate.degrees_of_freedom|default_if_none:"--"}}</td>
				<td>{{proximate.lower_error_bound|floatformat:-3|default_if_none:"--"}}</td>
				<td>{{proximate.upper_error_bound|floatformat:-3|default_if_none:"--"}}</td>
				<td>{{proximate.num_studies|default_if_none:"--"}}</td>
				<td>{{proximate.data_type.description|default_if_none:"--"}}</td>
				<td>{{proximate.last_modified|default_if_none:"--"}}</td>
		{% endfor %}
		<tr>
			<td class="lower_header" colspan="13">Minerals</td>
		</tr>
		{% for mineral in minerals %}
			{% if forloop.counter|divisibleby:2 %}<tr class="even_row">{% else %}<tr class="odd_row">{% endif %}
				<td>{{mineral.nutrient.name}}</td>
				<td>{{mineral.nutrient.units}}</td>
				<td>{{mineral.amount|floatformat:-2 }}</td>
				<td>{{mineral.num_data_points}}</td>
				<td>{{mineral.std_error|floatformat:-3|default_if_none:"--"}}</td>
				<td>{{mineral.min_value|floatformat:-3|default_if_none:"--"}}</td>
				<td>{{mineral.max_value|floatformat:-3|default_if_none:"--"}}</td>
				<td>{{mineral.degrees_of_freedom|default_if_none:"--"}}</td>
				<td>{{mineral.lower_error_bound|floatformat:-3|default_if_none:"--"}}</td>
				<td>{{mineral.upper_error_bound|floatformat:-3|default_if_none:"--"}}</td>
				<td>{{mineral.num_studies|default_if_none:"--"}}</td>
				<td>{{mineral.data_type.description|default_if_none:"--"}}</td>
				<td>{{mineral.last_modified|default_if_none:"--"}}</td>
		{% endfor %}
		<tr>
			<td class="lower_header" colspan="13">Vitamins</td>
		</tr>
		{% for vitamin in vitamins %}
			{% if forloop.counter|divisibleby:2 %}<tr class="even_row">{% else %}<tr class="odd_row">{% endif %}
				<td>{{vitamin.nutrient.name}}</td>
				<td>{{vitamin.nutrient.units}}</td>
				<td>{{vitamin.amount|floatformat:-2 }}</td>
				<td>{{vitamin.num_data_points}}</td>
				<td>{{vitamin.std_error|floatformat:-3|default_if_none:"--"}}</td>
				<td>{{vitamin.min_value|floatformat:-3|default_if_none:"--"}}</td>
				<td>{{vitamin.max_value|floatformat:-3|default_if_none:"--"}}</td>
				<td>{{vitamin.degrees_of_freedom|default_if_none:"--"}}</td>
				<td>{{vitamin.lower_error_bound|floatformat:-3|default_if_none:"--"}}</td>
				<td>{{vitamin.upper_error_bound|floatformat:-3|default_if_none:"--"}}</td>
				<td>{{vitamin.num_studies|default_if_none:"--"}}</td>
				<td>{{vitamin.data_type.description|default_if_none:"--"}}</td>
				<td>{{vitamin.last_modified|default_if_none:"--"}}</td>
		{% endfor %}
		<tr>
			<td class="lower_header" colspan="13">Lipids</td>
		</tr>
		{% for lipid in lipids %}
			{% if forloop.counter|divisibleby:2 %}<tr class="even_row">{% else %}<tr class="odd_row">{% endif %}
				<td>{{lipid.nutrient.name}}</td>
				<td>{{lipid.nutrient.units}}</td>
				<td>{{lipid.amount|floatformat:-2 }}</td>
				<td>{{lipid.num_data_points}}</td>
				<td>{{lipid.std_error|floatformat:-3|default_if_none:"--"}}</td>
				<td>{{lipid.min_value|floatformat:-3|default_if_none:"--"}}</td>
				<td>{{lipid.max_value|floatformat:-3|default_if_none:"--"}}</td>
				<td>{{lipid.degrees_of_freedom|default_if_none:"--"}}</td>
				<td>{{lipid.lower_error_bound|floatformat:-3|default_if_none:"--"}}</td>
				<td>{{lipid.upper_error_bound|floatformat:-3|default_if_none:"--"}}</td>
				<td>{{lipid.num_studies|default_if_none:"--"}}</td>
				<td>{{lipid.data_type.description|default_if_none:"--"}}</td>
				<td>{{lipid.last_modified|default_if_none:"--"}}</td>
		{% endfor %}
		<tr>
			<td class="lower_header" colspan="13">Amino Acids</td>
		</tr>
		{% for amino_acid in amino_acids %}
			{% if forloop.counter|divisibleby:2 %}<tr class="even_row">{% else %}<tr class="odd_row">{% endif %}
				<td>{{amino_acid.nutrient.name}}</td>
				<td>{{amino_acid.nutrient.units}}</td>
				<td>{{amino_acid.amount|floatformat:-2 }}</td>
				<td>{{amino_acid.num_data_points}}</td>
				<td>{{amino_acid.std_error|floatformat:-3|default_if_none:"--"}}</td>
				<td>{{amino_acid.min_value|floatformat:-3|default_if_none:"--"}}</td>
				<td>{{amino_acid.max_value|floatformat:-3|default_if_none:"--"}}</td>
				<td>{{amino_acid.degrees_of_freedom|default_if_none:"--"}}</td>
				<td>{{amino_acid.lower_error_bound|floatformat:-3|default_if_none:"--"}}</td>
				<td>{{amino_acid.upper_error_bound|floatformat:-3|default_if_none:"--"}}</td>
				<td>{{amino_acid.num_studies|default_if_none:"--"}}</td>
				<td>{{amino_acid.data_type.description|default_if_none:"--"}}</td>
				<td>{{amino_acid.last_modified|default_if_none:"--"}}</td>
		{% endfor %}
		<tr>
			<td class="lower_header" colspan="13">Other</td>
		</tr>
		{% for other in others %}
			{% if forloop.counter|divisibleby:2 %}<tr class="even_row">{% else %}<tr class="odd_row">{% endif %}
				<td>{{other.nutrient.name}}</td>
				<td>{{other.nutrient.units}}</td>
				<td>{{other.amount|floatformat:-2 }}</td>
				<td>{{other.num_data_points}}</td>
				<td>{{other.std_error|floatformat:-3|default_if_none:"--"}}</td>
				<td>{{other.min_value|floatformat:-3|default_if_none:"--"}}</td>
				<td>{{other.max_value|floatformat:-3|default_if_none:"--"}}</td>
				<td>{{other.degrees_of_freedom|default_if_none:"--"}}</td>
				<td>{{other.lower_error_bound|floatformat:-3|default_if_none:"--"}}</td>
				<td>{{other.upper_error_bound|floatformat:-3|default_if_none:"--"}}</td>
				<td>{{other.num_studies|default_if_none:"--"}}</td>
				<td>{{other.data_type.description|default_if_none:"--"}}</td>
				<td>{{other.last_modified|default_if_none:"--"}}</td>
		{% endfor %}

	</tbody>
</table>
</body>
</html>